<div class="sched">
	<div class="schedDetails">
		<a href="" class="thread">
			<h4>{{postName}}<h4>
			<div class="info">
				<p class="course">{{course}}</p>
				<p class="place">{{location}}</p>
				<p class="date">{{postDate}}</p>
				<p class="comments">1 comments</p>
			</div>
		</a>
	</div>
	<div class="delete">
	</div>
</div>