<div class="sched">
	<a href="" class="thread">
		<div class="threadHeader">
			<h4>{{postName}}<h4>
		</div>
		<div class="info">
			<p class="degProgram">{{course}}</p>
			<p class="dateTime">{{postDate}}</p>
			<p class="noComments">3 comments</p>
		</div>
	</a>
	<div class="delete">
	</div>
</div>