<header>
	<ul>
		<li><a href="/changePage/loadForumHome" class="menu">Home</a></li>
		<li><a href="/changePage/loadForumMainPage" class="menu" id="current">Forums</a></li>
		<li><a href=""><img src="user.jpg" id="prfPic"></a></li>
	</ul>
</header>
<div class="forumContent">
	<a href="/changePage/loadForum1" id="return">Back</a>
	<h2>Professors to Pick</h2>
	<div class="post">
		<div class="mainPost">
			<h3>{{postName}}</h3>
			<p class="content">{{content}}</p>
			<div class="info">
				<p class="author">Lady Morgana</p>
				<p class="eventTime">01/01/2000</p>
				<p class="commentNo">3 comments</p>
			</div>
		</div>
		<div class="input">
			<input type="text" class="commentSection" id="commentSection">
			<button class="commentBtn"></button>
		</div>
		<div id="comments" class="comments">
			<div class="commentList">
				<div class="header">
					<p class="user">Eva Le Queen</p>
					<p class="postDate">01/01/2000</p>
				</div>
				<div class="commentContent">
					<p class="commentData">Ay! Super workload heavy! Don't worry kasi magaling talaga siya magturo at nagbibigay videos for self-study kung di mo pa rin maintindihan ang topics.</p>
				</div>
				<button class="openReply"></button>
				<div class="replyList">
					<div class="repHeader">
						<p class="repUser">Turing</p>
						<p class="repDate">01/01/2000</p>
					</div>
					<div class="replyContent">
						<p>Vouch!!! Magaling siya ate! You can learn a lot from him.</p>
					</div>
					<div class="repHeader">
						<p class="repUser">Marina Summers</p>
						<p class="repDate">01/01/2000</p>
					</div>
					<div class="replyContent">
						<p>I also vouch! I got a 4.0 under him! The videos really helped me study for finals!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>