<link rel="stylesheet" type="text/css" href="/static/css/forum_home.css">

<header>
	<ul>
		<li><a href="/changePage/loadForumHome" class="menu" id="current">Home</a></li>
		<li><a href="/changePage/loadForumMainPage" class="menu">Forums</a></li>
		<li><a href=""><img src="/static/images/user.jpg" id="prfPic"></a></li>
	</ul>
</header>
<div class="container">
    <h1 class="heading">Student Forum</h1>
    <div class="news-container">
        <a href="https://www.facebook.com/dlsu.usg/posts/pfbid02oVnoFkWcTthViGFJVhnpMzvPuzS14RTrwWwmdgyVPoxEd86KPu1sBSEBcWbQoYRVl" class="news-box">
        <h2>[OPRES UPDATE: ESTABLISHMENT OF ALCOHOL REFILLING AND FREE MASK STATIONS]</h2>
        </a>
        <a href="https://www.facebook.com/photo/?fbid=648255834007812&set=pb.100064702025550.-2207520000." class="news-box">
        <h2>[ACCESS TO THE 24-HOUR STUDY FACILITY]</h2>
        </a>
        <a href="https://www.facebook.com/photo?fbid=648200924013303&set=a.459441076222623" class="news-box">
        <h2>📣2 DAYS LEFT📣 until “TIBOK: Family Day!”</h2>
        </a>
    </div>
</div>