<link rel="stylesheet" type="text/css" href="/static/css/forum_main_page.css">
<script src="/static/js/forum_main_page.js"></script>
<header>
	<ul>
		<li><a href="/changePage/loadForumHome" class="menu">Home</a></li>
		<li><a href="/changePage/loadForumMainPage" class="menu" id="current">Forums</a></li>
		<li><a href=""><img src="/static/images/user.jpg" id="prfPic"></a></li>
	</ul>
</header>
<div class="main">
	<h2>Forums</h2>
	<div class="list">
		<a href="/changePage/loadForum1">Professors to Pick</a>
	</div>
	<div class="list">
		<a href="/changePage/loadForum2">Tutoring Sessions</a>
	</div>
	<div class="list">
		<a href="/changePage/loadForum3">Studying Advices</a>
	</div>
</div>
		